<!doctype html>
<html lang="en" ng-app="bet-the-bill">

   <head>
      <!-- meta -->
      <meta charset="utf-8">
      <title>Bet the Bill</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Bet the Bill: a fair, randomized way of splitting the bill when out with friends">
      <meta name="author" content="Ted Sanders and Niru Maheswaranathan">
      <!--<link rel="shortcut icon" href="ico/favicon.png">-->
      <!-- javascript -->
      <script src="bower_components/angular/angular.js" type="text/javascript"></script>
      <script src="bower_components/jquery/jquery.min.js" type="text/javascript"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="bet-the-bill/main.js" type="text/javascript"></script>
      <script src="bower_components/d3/d3.min.js" type="text/javascript"></script>
      <!-- css -->
      <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="bet-the-bill/styles.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <div class="header">
            <ul class="nav nav-pills pull-right">
               <li class="active">
                  <a href="#">Home</a>
               </li>
               <li>
                  <a href="about.html">About</a>
               </li>
            </ul>
            <h3 class="text-muted">Bet the Bill</h3>
         </div>

         <div class="row marketing animate-create" ng-controller="DinerCtrl">

            <div class="result" ng-show="showResult">
               <h3>{{ loser.name }}, who owed {{ loser.amount | currency }}, must pay the total of {{ total() | currency}}</h3>
            </div>
            <form class="form-horizontal" ng-show="showForm">
               <div class="form-group" ng-repeat="diner in diners">
                  <div class="col-xs-5">
                     <input type="text" class="form-control text-right" ng-model="diner.name">
                  </div>
                  <div class="col-xs-5">
                     <input type="number" class="form-control" ng-model="diner.amount">
                  </div>
                  <div class="col-xs-2">
                     <button ng-click="removeDiner($index)" class="btn btn-danger">
                        <i class="fa fa-times"></i>
                     </button>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-offset-10 col-sm-2">
                     <button ng-click="addDiner()" class="btn btn-info">
                        <i class="fa fa-plus"></i>
                     </button>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-5">
                     <h4 class="pull-right">Total: ${{ total() }}</h4>
                  </div>
                  <div class="col-xs-2">
                     <button ng-click="betBill()" class="btn btn-success">Bet the Bill</button>
                  </div>
               </div>
            </form>
            <form class="form-horizontal" ng-hide="showForm">
               <div class="form-group">
                  <div class="col-sm-4 col-lg-2">
                     <button ng-click="goBack()" class="btn btn-default">Go Back</button>
                  </div>
                  <div class="col-sm-4 col-lg-2">
                     <button ng-click="startOver()" class="btn btn-danger">Start Over</button>
                  </div>
               </div>
            </form>
         </div>

         <div class="footer">
             <p>created by <a href="http://tedsanders.com/">Ted Sanders</a> and <a href="http://niru.org/">Niru Maheswaranathan</a></p>
         </div>

         <!-- Experimental Pie Chart -->
         <div>
         <p>Click a link to transform the pie chart!</p>
         <ul id="options" class="no-bullets">
             <li><a href="#restaurant">Restaurant</a> </li>
             <li><a href="#buffet">Buffet</a> </li>
             <li><a href="#date">Date</a> </li>
             <li><a href="#bigBertha">Big Bertha</a> </li>
         </ul>
         <div id="pie-chart"></div>
         <p>Click the wheel to spin it! (The more you click, the faster it goes!)</p>
         </div>

	   </div> <!-- /container -->


      <script src="bet-the-bill/pie-chart.js" type="text/javascript"></script>
   </body>

</html>
